UDBG.CNF
Server Debug.lnk
IDE - webapp.lnk
resources/
dev/cmi
dev/dbms/app_data.db
dev/dbms/source_repo.db
dev/dtd
dev/export
dev/lst
log/
web/dspjs/
asn/ide.asn
adm/ide.ini
asn/urouter.asn
asn/setup.asn
project.setup.xml
web/WEB-INF/web.xml
