IDE - webapp.lnk
ide_state.zip
project.setup.xml
Server Debug.lnk
UDBG.CNF
asn/ide.asn
asn/ide.ini
asn/urouter.asn
asn/setup.asn
dev/cmi/
dev/dbms/*.db
dev/dtd/
dev/export/
dev/lst/
log/
resources/
web/dspjs/
web/WEB-INF/web.xml
*/archive/
*/backup/
